<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.kenneth2y.codextopguage.mac</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/ky/kycx/cx8codexusagegauge/.build/release/CodexTopGuageMac</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/tmp/com.kenneth2y.codextopguage.mac.out.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/com.kenneth2y.codextopguage.mac.err.log</string>
</dict>
</plist>
